<!DOCTYPE html>
<html lang="en">
    <link href="assets/style.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안녕녕</title>
</head>
<body>
    <center><h1><em>Compétences:</em></h1></center>
    <br>
                    <p><ul>
                        <li> Indépendante de création de bijoux.</li><br>
                        <li> Technicienne de maintenance. </li><br>
                        <li> Maître dans la création de bijouterie et de la couture.</li><br>
                        <li> Langue: Arabe, Coréen, Français et Anglais</li><br>
                    </ul></p>
                    <br>
                    <br>
                    <center><img src="../assets/image/20d431bb96e8dca98f9b1768ea20d604.jpg"></center>
                    <!--SRC!!!!!!!!-->
                    <br>
                    <br>
                    <br>
                    <footer>
                    <nav class="linkpage2">   
                    <a href="page3.html"><i>Historique de travail</i></a>
                    <!--pour aller à l'index jpeux le laisser pour finir-->
                    <br>
                    <a href="../index.html"><i>Retour au descriptif</i></a></nav></footer>
</body>
</html>