<!DOCTYPE html>
<html lang="en">
    <link href="assets/style.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>야, 뭐해?</title>
</head>
<body>
    <center><h1>Historique de travail</h1></center>
                    <p><ol>
                        <li><em>(2015 - 2017)</em> Technicienne de maintenant dans la Société Samsung.</li><br>
                        <li><em>(2017 - aujourd'hui)</em> Aide comptable dans une boîte privée située à Daegu centre.</li><br>
                    </ol></p>
                    <br>
                    <img src="../assets/image/samsung-electronics-is-the-most-preferred-employer-among-korean-studentssurvey.jpeg"><img src="../assets/image/restmb_idxmake.php.jpg">
                    <!--../ pour naviguer dans les documents histoires de retrouver les images-->
                    <br>
                    <br>
                    <br>
                    <footer><a title="Compétences" href="page2.html"></a><i>Compétences</i></a><br>
                    <a href="../index.html"><i>Retour au descriptif</i></a><br></footer>

                    <div class="artists__btn"><a title = "artist" href="saskia.html">SIGN UP</a>Meet Saskia</div>

                    <input type=button onclick=window.location.href='http://monsite.fr'; value=Aller sur mon site />

                    <div class="artists__btn"><a href="saskia.htmsaskia.htmll">SIGN UP</a><button>Meet Saskia</button></div>

                    <div class="artists__btn"></div><input type="button" onclick=window.location.href='saskia.html'; value= "SIGN UP" >
</body>
</html>

