*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

.container{
    width: 200px;
    height: 200px;
    perspective:1000px;
    margin:100px auto 0;
}

.hexagone{
    width: 100%;
    height: 100%;
    position: relative;
    /* va pouvoir décaler par rapport à sa position initional et va pouvoir décaler */
    transform-style: preserve-3d;

}

.face{
    position:absolute;
    width: 200px;
    height: 200px;
}

.one{
    background-color: chartreuse;
    transform: rotateX(90deg) translateZ(100px);
}

.six{
    background-color: red;
    
}