 body{
     background-color: black;
 }
 h2{
     color:moccasin;
 }
 .elem1 {
    background-color: bisque;
    border:3px double;
 }

 .elem2{
     background-color: burlywood;
     border:3px double;
 }

 .elem3{
     background-color:peru;
     border:3px double;
 }